<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text class="ion-text-wrap">
              <p>This form implements a some pre-filled form fields using the value property of <a href="https://github.com/ronald-hove/ion-custom-form-builder/blob/master/docs/form-field-model.md" target="_blank">FormField model</a></p>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-custom-form-builder
        [showIcons]="false"
        [formFields]="fields"
        [submitButtonText]="'Submit'"
        (formSubmission)="onIonCfbFormSubmission($event)">
        </ion-custom-form-builder>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
