<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text class="ion-text-wrap">
              <p>This form implements a <a href="https://github.com/ronald-hove/ion-custom-form-builder#implement-your-own-submit-button" target="_blank">custom submit button</a> for the purpose of having a checkbox to accept terms between the form and register button</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-custom-form-builder
        [showIcons]="true"
        [showSubmitButton]="false"
        [formFields]="fields"
        [submitButtonText]="'Submit'"
        (formSubmission)="onIonCfbFormSubmission($event)">
        </ion-custom-form-builder>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none">
    <ion-label class="ion-text-wrap">Accept all the T's & C's</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text class="ion-text-wrap ion-text-center">
              <p>Already have an account? <a routerLink="/login">Login</a></p>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="onClickMyOwnSubmitButton()">
          Register
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
