<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ICFB Examples
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-text class="ion-text-wrap">
              <p>Examples of forms built using the <a href="https://github.com/ronald-hove/ion-custom-form-builder" target="_blank">ion-custom-form-builder</a> library</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item routerLink="/login">
            <ion-label>Login Form</ion-label>
          </ion-item>
          <ion-item routerLink="/register">
            <ion-label>Register Form</ion-label>
          </ion-item>
          <ion-item routerLink="/pay">
            <ion-label>Payment Form</ion-label>
          </ion-item>
          <ion-item routerLink="/contact">
            <ion-label>Contact Form</ion-label>
          </ion-item>
          <ion-item >
            <ion-label>More Coming Soon</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
